	p, ul, li {
		margin: 0;
		padding: 0;
	}
	.ninja-container {
		position: relative;
		overflow: hidden;
		height: 400px;
		width: 500px;
		margin: 10px 0 0 50px;
		border: solid 1px #dedede;
		padding: 5px;
		background: url('../img/bg.png') top repeat-x, url('../img/bg.png') bottom repeat-x, url('../img/bg.png') left repeat-y, #71bef8 url('../img/bg.png') right repeat-y;
	}

	#ninja {
		display: none;
		position: absolute;
		z-index: 2;
		bottom: 45px;
		height: 65px;
		width: 70px;
		background: url('../img/ninja_new_strites.png') no-repeat;
		background-position: -500px -62px;
	}
	.enemy-object {
		position: absolute;
		z-index: 2;

		height: 65px;
		width: 70px;
		background: url('../img/enemy_box.png') no-repeat;
	}
	.ground {
		position: absolute;
		bottom: 0;
		left: -100px;
		height: 50px;
		width: 2050px;
		background: url('../img/grassbg.jpg') repeat-x;
	}
	.counter {
		width: 100px;
		margin: 15px;
		display: none;
	}
	.counter p {
		display: inline-block;
	}
	.description {
		float: right;
		width: 50%;
	}

	.description li {
		padding: 5px;
	}

	.clear {
		clear: both;
	}

	.game-menu {
		width: 200px;
		height: 60px;
		margin: 100px auto;
		background-color: #dedefe;
		display: none;
		padding: 5px;
		text-align: center;
	}

	.game-menu p {
		color: blue;
		font-size: 16px;
		font-weight: bold;
	}

	.game-menu ul {
		list-style: none;
		text-align: center;
		margin-top: 20px;
		font-size: 12px;
	}

	.game-menu li {
		background-color: blue;
		color: white;
	}

	.game-menu li:hover {
		background-color: red;
		color: white;
		cursor: pointer;
	}
