body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img {
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

.game-container {
	position: relative;
	padding: 5px;
	/*margin: 50px;*/
	max-width: 390px;
	height: 480px;
	background-color: #e1d5bf;
	border: solid 10px #000000;
}

#menu-box {
	margin: 100px auto;
	width: 200px;
	height: 100px;
	background-color: #3a669b;
	border: solid 3px #ffffff;
}

.start-button {
	color: #ffffff;
	text-align: center;
	padding: 5px;
	cursor: pointer;
}

.start-button:hover {
	background-color: #a0c1ea;
}

.kolobok {
	width: 60px;
	height: 60px;
	background: url('../img/kolobok.png');
	position: absolute;
	bottom: 25px;
}

.plate {
	width: 150px;
	height: 60px;
	position: absolute;
	background: url('../img/cloud.png');
}