input[type=text], input[type=email], input[type=password] {
	width: 100%;
	color: #383838;
	font-size: 13px;
	padding: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #b2b2b2;
	outline: 0;
	border-radius: 3px;
	box-shadow: 1px 1px 0 rgba(255,255,255,0.5);
}

p {
	display: inline;
}

.name, .email, .password, .telefone, .checkboxes {
	width: 45%;
	}
.message {
	float: right;
	width: 50%;
	margin-top: -25px;
	font-size: 12px;
	text-shadow: 1px 1px 0 rgba(255,255,255,0.5);;
}

.tooltip {
	color: rgb(0, 33, 136);
	font-size: 16px;
	z-index: 100;
	padding-top: 1px;
    display: none;
    position: absolute;
}

.form-cotainer {
	color: #383838;
	background-color: #dee3e6;
	background-image: url('../img/bg.png');
	background-image: url('../img/bg.png'),-webkit-gradient(linear,left top,left bottom,from(rgba(113,126,137,0)),to(rgba(113,126,137,0.2)));
	background-image: url('../img/bg.png'),-webkit-linear-gradient(top,rgba(113,126,137,0),rgba(113,126,137,0.2));
	background-image: url('../img/bg.png'),-moz-linear-gradient(top,rgba(113,126,137,0),rgba(113,126,137,0.2));
	background-image: url('../img/bg.png'),-ms-linear-gradient(top,rgba(113,126,137,0),rgba(113,126,137,0.2));
	background-image: url('../img/bg.png'),-o-linear-gradient(top,rgba(113,126,137,0),rgba(113,126,137,0.2));
	background-image: url('../img/bg.png'),linear-gradient(top,rgba(113,126,137,0),rgba(113,126,137,0.2));
	line-height: 18px;
	width: 600px;
	margin: 0 auto;
	padding: 10px;
	border-radius: 10px;
	}

.checkboxes>ul {
	list-style: none;
	padding: 0;
	}
.checkboxes p {
	padding: 0;
	margin: 0;
}
.valid {
	border-color: rgb(136, 206, 109) !important;
	}

.not-valid {
	border-color: rgb(255, 161, 161) !important;
	}

.valid-message {
	color: rgb(51, 168, 5);
}

.not-valid-message {
	color: rgb(182, 0, 0);
}

.submit button {
	padding: 6px 45px 7px 10px;
	background-color: #4eb5e5;
	background-image: url('../img/arr-btn.png');
	background-image: url('../img/arr-btn.png'),-webkit-gradient(linear,left top,left bottom,from(#4eb5e5),to(#3196cf));
	background-image: url('../img/arr-btn.png'),-webkit-linear-gradient(top,#4eb5e5,rgb(130, 174, 199));
	background-image: url('../img/arr-btn.png'),-moz-linear-gradient(top,#4eb5e5,#3196cf);
	background-image: url('../img/arr-btn.png'),-ms-linear-gradient(top,#4eb5e5,#3196cf);
	background-image: url('../img/arr-btn.png'),-o-linear-gradient(top,#4eb5e5,#3196cf);
	background-image: url('../img/arr-btn.png'),linear-gradient(top,#4eb5e5,#3196cf);
	background-repeat: no-repeat,no-repeat;
	background-position: center right,center;
}

button, .button {
	font-size: 14px;
	font-weight: bold;
	line-height: 14px;
	padding: 6px 10px 7px;
	border: 0;
	color: #fff;
	text-shadow: 0 1px rgba(0,0,0,0.5);
	cursor: pointer;
	white-space: nowrap;
	border-radius: 3px;
	box-shadow: inset 0 -1px 0 rgba(0,0,0,0.3),0 1px 0 rgba(0,0,0,0.2);
	background-color: #4eb5e5;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#4eb5e5),to(#3196cf));
	background-image: -webkit-linear-gradient(top,#4eb5e5,#3196cf);
	background-image: -moz-linear-gradient(top,#4eb5e5,#3196cf);
	background-image: -ms-linear-gradient(top,#4eb5e5,#3196cf);
	background-image: -o-linear-gradient(top,#4eb5e5,#3196cf);
	background-image: linear-gradient(top,#4eb5e5,#3196cf);
}
