
.js-ms-popup-background {
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
background: rgba(0,0,0,.7);
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50); /* IE 5.5+*/
-khtml-opacity: 0.5; /* Konqueror 3.1, Safari 1.1 */
background: gray\9;
text-align: center;
}

.js-ms-popup {
	display: none;
	position: absolute;
	z-index: 10;
	min-width:300px;
	min-height:300px;
	overflow: auto;
	border: 10px solid #fff;
    /* Для хороших браузеров */
  -webkit-border-radius: 10px; /* Safari, Chrome */
  -khtml-border-radius: 10px; /* KHTML */
  border-radius: 10px; /* CSS3 */
  /* Для плохих IE */
  behavior:url('border-radius.htc'); /* учим IE border-radius */
	background: #fff;
	top:50%;
	left:50%;
}

.close-js-ms-popup {
	overflow: visible;
	display: block;
    position: absolute;
    z-index: 100;
    top: 20px;
    right: 20px;
    width: 12px;
    height: 12px;
    padding: 8px;
    border: 5px solid #fff;
    border-radius: 50%;
    -webkit-box-shadow: inset 0 2px 2px 2px rgba(0,0,0,.4),
                              0 3px 3px     rgba(0,0,0,.4);
    box-shadow:         inset 0 2px 2px 2px rgba(0,0,0,.4),
                              0 3px 3px     rgba(0,0,0,.4);
    cursor: pointer;
    background: #fff;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    color: #444;
    text-decoration: none;
    font-weight: bold
}