
.navigation-menu ul {
	margin: 10px;
}

.new-legend-1, .new-legend-2, .new-legend-3 {
	padding: 10px;
	list-style: none;
	font-size: 12px;
}

.navigation-menu li {
	list-style: none;
	display: inline;
	outline: solid 1px;
	padding: 5px;
}

.header {
	height: 100px;
	background: #dedede;
}

.buttons {
	display: none;
	margin: 0 auto;
	text-align: center;
}

.navigation-menu {
	height: 45px;
	background: #defede;
}

.content {
	min-height: 500px;
	background: #cedefe;
}

.footer {
	height: 50px;
	background: #cecece;
}