body {
		font-family: verdana,helvetica,arial,sans-serif;
		background: #bebebe;
		margin: 0;
		padding: 0;
	}
	p {
		margin: 0;
	}
	.menu-container {
		font-weight: bold;
		font-size: 14px;
		color: #FFFFFF;
	}
	.menu {
		list-style: none;
		position: relative;
		margin-top: 0;
		overflow: hidden;
		cursor: pointer;
	}

	.first-item {
		position: relative;
		z-index: 10;
		display: inline-block;
		vertical-align: top;
		height: 30px;
		min-width: 180px;
		margin: 0 0 0 -43px;
		background: url('../img/first-button.png') no-repeat;
	}
	.first-item p a {
		text-shadow: 1px 1px 2px black;
		display: inline-block;
		margin: 5px 0 0 12px;
	}
	.menu-item {
		position: relative;
		display: inline-block;
		vertical-align: top;
		height: 30px;
		min-width: 80px;
		margin-left: -250px;
	}
	.menu-item p {
		display: inline-block;
		vertical-align: top;
		height: 30px;
		padding-right: 22px;
		background: url('../img/menu-bg.png') 0 -32px repeat-x;
	}
	.menu-item p a {
		display: inline-block;
		margin-top: 5px;
	}
	.left-border {
		height: 30px;
		width: 40px;
		display: inline-block;
		vertical-align: top;
		background: url('../img/menu-bg.png') 0 -1px no-repeat;
	}
	.right-border {
		height: 30px;
		width: 40px;
		display: inline-block;
		vertical-align: top;
		background: url('../img/menu-bg.png') 0 -63px no-repeat;
	}

	.content-container {
		margin: 0 auto;
		width: 60%;
		height: 500px;
		background: #606060;
		border-radius: 10px;
	}